body {
    margin: 0px; overflow-y: scroll;
}

nav {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    position: fixed;
    width: 100%;
}

.menu-items {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    margin: 0px;
    height: 44px;
    align-items: center;
}

.menu-items li {
    margin-right: 40px;
}

.menu-items a {
    text-decoration: none;
    color: #000;
}

/* Self-introduction section */
.intro {
    height: 494px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 44px;
}

.intro-content {
    height: 300px;
    width: 900px;
    flex-direction: row;
    display: flex;
}

.intro-text {
    width: 60%; 
}

.intro-text strong {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.icon-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 0px;
}

.icon-list li {
    margin-right: 20px;
}

.icon-list li figure {
    margin: 0px;
    display: flex;
    justify-content: center;
}

.icon-list img {
    height: 30px;
    width: 30px;
}

.icon-list li figcaption {
    font-size: 10px;
    text-align: center;
}

.intro-photo {
    width: 40%;
    display: flex;
    justify-content: center;
}

/* Projects overview section */
.projects {
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}

.projects-content {
    width: 900px; 
    height: 450px;
}

.section-title {
    height: 25px;
    display: flex;
    align-items: center;
}

.section-expand {
    height: 25px;
    display: flex;
    justify-content: flex-end;
}

.projects-overview {
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.projects-overview article {
    /* h-offset v-offset blur spread color */
    box-shadow: 2px 2px 8px rgba(213, 212, 225, 0.5);
    height: 360px;
    width: 430px;
    border-radius: 20px;
}

/* contact section */
.media-list {
    margin: 15px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 0px;
}

.media-list li {
    padding-left: 15px;
    padding-right: 15px;
}

.media-list img {
    height: 30px;
    width: 30px;
}

hr {
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    width: 100%;
    color: rgb(213, 212, 225);
}